<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scraped News Data</title>
    <link rel="stylesheet" href="../static/jumbotron.css">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-md fixed-top" id="nav">
        <a class="navbar-brand" href="/">News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about">About</a>
            </li>
          </ul>
        </div>
      </nav>

    <main role="main">

        <!-- Title banner -->
        <div class="jumbotron" id="titlebanner">
            <div class="container">
            <h1 class="display-3">About Us</h1>
            <p>The News Reliability Checker is a machine learning application that reads online news articles and predicts whether the article is trustworthy or not. To do this, we trained a Naïve Bayes model using a <a href="https://www.kaggle.com/competitions/fake-news/">fake news dataset</a> that had previously evaluated the trustworthiness of 1000s of news articles. <br>
              <br>
              To use the app, simply paste the URL of any news article into the input bar and click Analyse. The result will tell you whether or not the article can be trusted. </p>
            <p><a class="btn btn-primary btn-lg" id="homebtn" href="/" role="button"> Homepage &raquo;</a></p>
            </div>
        </div>


    <!-- Footer -->
    <hr>
    <footer class="container">
        <p>&copy; Team 3 - Alexander Powers, Andrew King, Benjamin Verblun, Denise Okur, Paul Wang, Sam Vuong</p>
    </footer>

    <!-- custom JS -->
    <script src="../static/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

</body>

</html>